@import url(reset.css);

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic,cyrillic-ext');

body * {
	font-family: 'Roboto Condensed', Arial, sans-serif;
}

div.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 50px;
	background: #FEFFFF;
	flex-basis: 100%;
	max-width: 1366px;
	flex-wrap:wrap;
}

nav .main a {
	margin-right: 200px;
	color: #438EC1;
	font-size: 1.4em;
}

nav a {
	text-decoration: none;
	color: #A1ABB4;
	margin: 0 10px;
	font-weight: bold;
	font-family: 'Roboto Condensed', Arial, sans-serif;
}

nav .menu a:hover {
	color: #000000;
}  

header {
	background: url(../images/back.jpg) center no-repeat;
	background-size: cover;
	flex-basis: 100%;
	max-width: 1366px;
	height: 301px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header p {
	font-size: 4em;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0px 5px 12px #000000;

}

#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-basis: 100%;
	max-width: 1366px;
	flex-wrap:wrap;
}

.elements {
	display: flex;
	margin-left: 70px;
	flex-wrap: wrap;
	flex-basis: 100%;
	max-width: 1366px;
}

.elements button {
	border: 0;
	background: #ffffff;
	font-size: 1em;
	margin: 20px 20px;
	padding: 10px 10px;
}

.projects {
	display: flex;
	flex-basis: 100%;
	max-width: 1366px;
	margin-left: 80px;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
}

.centrs {
	flex: 1 1 250px;
	text-align: center;
	margin: 0 10px 20px;
	max-width: 250px;
	border: 1px solid #EEE4E4;
}

.images img {
	width: 100%;
	height: auto;
}

.centrs .text h3, .centrs .text p {
	margin: 10px 0;
}

.centrs .theme {
	background:#F2E9E9;
	text-align: left;
}

.centrs .theme p {
	padding: 5px;
}

footer {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	align-items: center;
	border-top:  2px solid #649EB4;
	flex-basis: 100%;
	max-width: 1366px;
}

footer p {
	padding: 15px 0;
	line-height: 1.5;
}